<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="de.codecentric.eclipse.tutorial.target" sequenceNumber="5">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.fx.target.feature.feature.group" version="1.2.0.201501301037"/>
<repository location="http://download.eclipse.org/efxclipse/runtime-released/1.2.0/site"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.executable.feature.group" version="3.6.100.v20140819-1617"/>
<repository location="http://download.eclipse.org/releases/luna"/>
</location>
</locations>
</target>
